:root {
  --proj-card-bg-color: #333333;
  --basic-bg-color: #000000;
  --svg-invert: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    --proj-card-bg-color: #efefef;
    --basic-bg-color: #ffffff;
    --svg-invert: 0;
  }
}

.project-card {
  background-color: var(--proj-card-bg-color);
}

.basic-bg {
  background-color: var(--basic-bg-color);
}

.pulse {
  animation: pulse 2s ease-in-out infinite;
}

.fade-in {
  animation: fade-in 1s ease-in forwards;
}

.fade-out {
  animation: fade-out 0.3s ease-in forwards;
}

.scale-up {
  animation: scale-up 0.3s ease-in forwards;
}

.svg-invert {
  filter: invert(var(--svg-invert));
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}